cython
flask
flask-cors
flask-jsonpify
flask-restful
gunicorn
jellyfish==0.8.2
msgpack
nltk
numpy
pandas
scipy
segtok==1.5.10
sentence_transformers
typing-inspect==0.8.0
typing_extensions==4.5.0
spacy>=3.2.0,<3.3.0
accelerate   
tables
transformers
opencv-python==4.6.0.66
matplotlib==3.4.3
urllib3==1.26.6
minio==7.1.0
seaborn==0.11.2
scispacy==0.5.0
git+https://github.com/nlmatics/fairseq.git@kiran-check
https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.2.0/en_core_web_lg-3.2.0.tar.gz